In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
#Amezon
df=pd.read_csv('Amazon_product_reviews.csv')
df.head()

,author,date,title,product,review,rating,label
0,Verne Berridge Jr.,"November 6, 2008","If you like silly exaggerations, you will like...",Sicko (Special Edition) (DVD),Filled with many well produced exaggerations d...,1.0,0
1,S. Kelly,"October 29, 2009",I loved this so much I got one for my 90yr old...,AutoExec - WM-01 - Wheelmate Steering Wheel De...,I loved my Laptop Steering Wheel Desk so much ...,5.0,1
2,A. CLARK,"December 6, 2008",Not even worth finishing...,Dead Until Dark (Sookie Stackhouse / Southern ...,"First of all, apologies to all of you who are ...",1.0,0
3,"Jennifer Ford ""Jenn Ford""","November 25, 2008",Calming and Clearing,Proactiv Solution Refining Mask 2.5 Oz (Health...,I've used this mask for years. When I was youn...,5.0,0
4,Tommy Morais,"October 28, 2009","""I'm Glad They Did This Film""",Michael Jackson: This Is It (DVD),When Michael Jackson died on June 25th 2009 it...,5.0,0

In [3]:
rev=[]
for i,j in zip(df['title'],df['review']):
    if i not in j:
        rev.append(' '.join([i,j]))
    else:
        rev.append(j)
df['review']=rev

In [4]:
st=df[df['label']==0].iloc[:435]
nt=df[df['label']==1]
df=pd.concat([st,nt])

In [5]:
X_train,X_test,y_train,y_test= train_test_split(df[['review','rating']],df['label'],random_state=42,stratify=df['label'])

In [6]:
X_train,X_test,y_train,y_test= train_test_split(df[['review','rating']],df['label'],random_state=42,stratify=df['label'])
dft = X_train
dft['label']=list(y_train)
dft.reset_index(inplace=True,drop=True)
dft.head()

                                              review  rating  label
0  I simply had no idea how bad it is! I am a sta...     5.0      0
1  A searing indictment... This book is sure to b...     5.0      0
2  Another movie to ignore.... A perfect date mov...     1.0      1
3  Buy this phone !! I got my Droid Incredible in...     5.0      0
4  Mother & daughter So far this is pretty boring...     3.0      0

In [7]:
dftest=X_test
dftest['label']=list(y_test)
dftest.reset_index(inplace=True,drop=True)
dftest.head()

                                              review  rating  label
0  Great Alyssa, but rather boring movie This is ...     2.0      0
1  worst ever If this was written by Danielle Ste...     1.0      1
2  Hasselhoff Me!  Please! One was having a parti...     5.0      1
3  One Friday, Without the Milk He always brought...     3.0      1
4  this. sucked. bad. one word: punctuation. ok, ...     1.0      1

In [8]:
dft.to_pickle('intermediate_files/train_data_for_amazon_sarcasm_detection.pkl')
dftest.to_pickle('intermediate_files/test_data_for_amazon_sarcasm_detection.pkl')